.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed teal;
  margin: 0 auto;
  margin-top: 30px;
  animation: loader 2s infinite ease-in-out;
}

@keyframes loader {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}