select {
  box-sizing: border-box;
  height: 32px;
  padding: 8px;
  border: 1px solid #C5C6CE;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../../assets/images/arow_down.svg") 97% center no-repeat;
  outline: 0;
}