.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;

  &.active {
    @media (max-width: 767.98px) {
      margin-left: 0;
    }
    margin-left: 316px;
  }
}

