.row {
  box-sizing: padding-box;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid var(--color-light-gray);
  @media (min-width: 1200px) {
    &:hover {
      background-color: var(--color-light-blue);
    }
  }
  td {
    @media (max-width: 1199.98px) {
        display: block;
        padding-left: 50%;
      &::before {
        content: attr(data-label);
        position: absolute;
        left: 8%;
        text-transform: uppercase;
      }
      &:hover {
        background-color: var(--color-light-blue);
      }
    }
    @media (min-width: 1200px) {
      &:first-child {
        padding: 24px 12px 24px 24px; 
      }
      &:last-child {
        padding: 24px 24px 24px 12px; 
      }
      padding: 24px 12px;
    }
    position: relative;
    text-align: center;
    padding: 12px;
  }
  
}